<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {estilo:'editPerfilCuenta'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/button-top.ejs')%>
                <main class="container">
                    <h1 class="h1">Editar Datos</h1>
                    <form action="/users/cuenta/<%= usuario.id %>?_method=put" method="POST"
                        class="form" id="editCount">
                        <h3 class="h3">Datos de la Cuenta</h3>
                        <div>
                            
                        <!-- <h3 class="h3">Perfil de usuario</h3> -->
                        <div>
                            <div>
                                <label for="nombreUsuario">Nombre de usuario</label>

                                <input class="cuadros-login <%= mapsDeError.nombreUsuario ? 'error-border' : '' %>"
                                    type="text" id="nombreUsuario" name="nombreUsuario"
                                    placeholder="* Nombre de Usuario" id="nombreUsuario"
                                    value="<%= locals.old && old.nombreUsuario? old.nombreUsuario : usuario.nombre_usuario %>"><br>
                            </div>
                            <div class="error-container">
                                <% if (mapsDeError.nombreUsuario) { %>
                                    <p class="errorValidator">
                                        <%= mapsDeError.nombreUsuario.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div >
                            <!-- <div > -->
                                <div class="div-par"> 
                                <label for="email">Email</label> <br>
                                <input class="cuadros-login <%= mapsDeError.email ? 'error-border' : '' %>" type="email"
                                    id="email" name="email" placeholder="* Email"
                                    value="<%= locals.old && old.email? old.email : usuario.email %>"><br>
                                    <div class="error-container">
                                        <% if (mapsDeError.email) { %>
                                            <p class="errorValidator">
                                                <%= mapsDeError.email.msg %>
                                            </p>
                                            <% } %> 
                            </div>
                                <label for="emailVerify">Confirmar email</label>
                                <input class="cuadros-login <%= mapsDeError.emailVerify ? 'error-border' : '' %>"
                                    type="email" id="emailVerify" name="emailVerify" placeholder="* Confirmar Email"
                                    value="<%= locals.old && old.emailVerify? old.emailVerify : usuario.email %>"><br>
                                    <div class="error-container">
                                    
                                    <% if (mapsDeError.emailVerify) { %>
                                        <p class="errorValidator">
                                            <%= mapsDeError.emailVerify.msg %>
                                        </p>
                                        <% } %>
                                        </div>
                            
                                           
                            </div>
                            <div class="div-par">
                                <label for="newP">Nueva contraseña</label>
                                <input class="cuadros-login <%= mapsDeError.password ? 'error-border' : '' %>"
                                    type="password" id="newP" name="newP" placeholder="* Nueva contraseña" autocomplete="off" disabled><br>
                                <div class="error-container">

                                    <% if (mapsDeError.password) { %>
                                        <p class="errorValidator">
                                            <%= mapsDeError.password.msg %>
                                        </p>
                                        <% } %>
                                </div>
                                <label for="newPasswordVerify">Confirmar nueva contraseña</label>
                                <input class="cuadros-login <%= mapsDeError.passwordVerify ? 'error-border' : '' %>"
                                    type="password" id="confirmNewP" name="confirmNewP"
                                    placeholder="* Confirmar nueva contraseña" disabled><br>

                                    <button type="button" id="enablePasswordChange">Habilitar cambio de contraseña</button>
                                    <div class="error-container"></div>
                                    <% if (mapsDeError.passwordVerify) { %>
                                        <p class="errorValidator">
                                            <%= mapsDeError.passwordVerify.msg %>
                                        </p>
                                        <% }  %>
                                    </div>
                            </div>
                        </div>
                        
                            
                                        
                        </div>
                        <h3 class="h3">Tipo de usuario</h3>
                        <div class="style-label">
                            <label class="style-label-r">
                                <input class="radio-checkbox" type="radio" name="admincomp" id="admin"
                                    value="admin" <% if
                                    (usuario.tipo_usuario==='admin' ) { %> checked <% } %>>Administrador
                            </label>
                            <label class="style-label-r">
                                <input class="radio-checkbox" type="radio" name="admincomp" id="comp"
                                    value="comprador" <% if 
                                    (usuario.tipo_usuario==='comprador' ) { %> checked <% } %>>Comprador
                            </label>
                         
                        </div>
                        <div class="error-container">
                            <% if (mapsDeError.tipoUsuario) { %>
                                <p class="errorValidator">
                                    <%= mapsDeError.tipoUsuario.msg %>
                                </p>
                                <% }  %>
                        </div> 
                        <div>
                            <h3 class="h3">Imagen de perfil</h3>
                            
                            <input type="file" name="foto" id="nuevaFoto">
                        </div>
                        <h3 class="h3">Ingrese su contraseña actual</h3>
                        <label for="currentPassword"></label>
                        <input class="cuadros-login" type="password" id="currentPassword" name="currentPassword" placeholder="* Ingrese su contraseña actual">
                        
                        <div class="style-div-botones">
                            <button class="boton-aceptar" type="submit">Aceptar</button>
                            <button class="boton-cancelar" type="reset" onclick="location.href='/users/perfil';">Cancelar</button><br>
                        </div>
                    </form>
                </main>
                <%-include ('../partials/footer.ejs')%>
                    
                    

<% if (errorMessage && errorMessage.length > 0) { %>
    <script>
      Swal.fire({
        title: 'Error',
        text: '<%= errorMessage %>',
        icon: 'error',
        confirmButtonText: 'Aceptar'
      });
    </script>
    
    <% } %>
    <script src="/js/editUserCount.js"> </script>
 
    </body>

</html>